@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");

:root {
  --dark-primary-color: #455a64;
  --default-primary-color: #607d8b;
  --light-primary-color: #cfd8dc;
  --accent-color: #ff9800;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;
  --text-icons: #ffffff;
}

html,
body {
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}
